node_modules
jspm_packages
dist
.sublime-grunt.cache
.idea
.tmp
*.iml
/typings
/lll-ui
/war
/config/lll-app.conf.json
/config/lll-app.conf.json.ftl
/lll-app.conf.json
/dev/styles
/dev/config
/dev/external
!/dev/external/scorm/**
!/dev/external/app-init-service-template.*
!/dev/external/home-template.*
!/dev/external/scormfunctions.*
/dev/jspm.conf.js
/dev/app-init-service.js
/dev/components/lll-routing/views/home.*
/config/grunt-local.conf.json
/dev/components/.+/jsconfig.json
/jsconfig.json
